
<div id="big_box">
	<%= image_tag('qr_bg.png', :id => 'qr_bg') %>
	<%= image_tag('logo.png', :id => 'logo') %>

	<%= image_tag('big_box_top.png', :id => 'big_box_top_img') %>

	<%= render 'form' %>

	<p>QRum lets you create a digital forum in a physical place, any place!

	<p>Just type in the topic you want to discuss or a question you want answered above. Print the PDF with a Custom QR-code we generate, post it in a public place and let people access it using nothing but a simple “QR scan App” on thier smartphone.</p>

	<p>Dont even think about it!<br />
	It totally free for everyone!</p>

	<p>QRum Team</p>

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</div>