
<% content_for :title, "QRum - forums hidden in QR codes." %>

<div id="big_box">
	<%= image_tag('qr_bg.png', :id => 'qr_bg') %>
	<%= image_tag('logo.png', :id => 'logo') %>

	<%= image_tag('big_box_top.png', :id => 'big_box_top_img') %>

	<%= render 'form' %>

	<p>QRum lets you create a digital forum in a physical place, any place, as long as you can stick a QR code on it!

	<p>Just type in the topic you want to discuss or a question you want answered above. This creates a <b>QRum</b>, a forum that can only be accessed via a unique QR code. Print the QR code and post it on a public toilet, inside a book, on a statue, under a bench, or the windshield of your car!</p>

	<p>Don't even think about it - it's totally free for everyone!</p>

	<p><b>- The QRum team</b></p>

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</div>