<h2>Discuss this shit online:</h2>
<h1><%= @wall.title %></h1>
<img src="http://chart.apis.google.com/chart?cht=qr&amp;chs=300x300&amp;choe=UTF-8&amp;chld=H%7C0&amp;chl=<%= CGI::escape(show_by_code_url(@wall.code)) %>" />