<h1>Unsubscribed from <%= @subscription.wall.title %></h1><br />
If that is NOT enough, and you want unsubscribe <b><%= @subscription.email %></b> from ALL QRum subscriptions, <a href="<%= unsubscribe_all_path(URI::escape(CGI::escape(@subscription.email), '.')) %>" style="color:white">click here</a>.